<div class="drag-container" NgDragQueen [archivosDropeados]="archivos">
    <span><i class="fas fa-image"></i> Soltar Imagenes Aqui</span>
</div>
<table class="table mt-3">
    <thead class="thead-dark">
        <th>Nombre</th>
        <th>Tamaño</th>
        <th>Progreso</th>
    </thead>
    <tbody *ngIf="archivos.length > 0">
        <tr *ngFor="let archivo of archivos;">
            <td>{{archivo.nombre}}</td>
            <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2-2'}}MB</td>
            <td>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" [ngClass]="{'bg-success':archivo.progreso == 100 , 'progress-bar-animated bg-danger':archivo.progreso < 100}" [ngStyle]="{'width':archivo.progreso + '%'}"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info" role="alert" style="width: 100;" *ngIf="archivos.length ==0">
No hay archivos cargados
</div>
<div class="row mt-3">
    <div class="col">
        <button [disabled]="archivos.length == 0 || !progresoFinalizado" class="btn btn-outline-success mr-3" (click)="cargarImagenesAFirebase()" type="button">Subir</button>
        <button [disabled]="archivos.length == 0 || !progresoFinalizado" class="btn btn-outline-danger" (click)="limpiarArchivos()" type="button">Limpiar</button>
</div>